{% extends 'base_template.html.twig' %}

{% block title %}Agendas -
	{{ constant('WEBSITE_TITLE')}}
{% endblock %}


{% block content %}
{# {{ dump(creneauxLibres) }} #}
    <main>
    <div class="container">
            <div class="row justify-content-center">
            {% if message %}
                <div class="mt-5">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                {% endif %}
                
                <div class="col-md-4 mt-5"> <!-- Ajout de la marge en haut -->
                    <form action="index.php?controleur=agenda&methode=ajouterAgenda" method="post" required>
                        <div class="mb-3">
                            <label for="url" class="form-label">URL</label>
                            <input type="text" name="url" class="form-control" id="url" required placeholder="Entrez une URL valide">
                        </div>
                        <div class="mb-3">
                            <label for="couleur" class="form-label">Couleur</label>
                            <input type="text" name="couleur" class="form-control" id="couleur" required placeholder="Entrez la couleur">
                        </div>
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom</label>
                            <input type="text" name="nom" class="form-control" id="nom" required placeholder="Entrez un nom">
                        </div>

                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
                
            </div>
        </div>
    </main>
{% endblock %}



