{% extends 'base_template.html.twig' %}

{% block title %}Connexion -
	{{ constant('WEBSITE_TITLE')}}
{% endblock %}


{% block content %}
{# {{ dump(creneauxLibres) }} #}
    <main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mt-5"> <!-- Ajout de la marge en haut -->
                <form action="index.php?controleur=utilisateur&methode=connexion" method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">E-mail</label>
                        <input type="email" name="email" class="form-control" required maxlength="255" minlength="5" title="Entrez l'adresse email du compte que vous souhaitez utiliser">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                        <input type="password" name="pwd" class="form-control" required maxlength="25" minlength="8" title="Le mot de passe doit contenir au moins : une lettre minuscule, une majuscule, un chiffre et un caractère spécial, et être compris entre 8 et 25 caractères." pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*\W)[a-zA-Z\d\W]{8,25}$" >
                    </div>
                    <a class="mb-3" href="index.php?controleur=utilisateur&methode=premiereInscription">Pas encore de compte ? S'inscrire</a>
                    <a class="mb-3" href="index.php?controleur=utilisateur&methode=demanderReinitialisationMail">Mot de passe oublié ? Réinitialiser</a>
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                </form>
            </div>
            {% if message %}
                <div class="mt-5">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {% for messages in message %}
                        {{messages}} <br>
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                {% endif %}
        </div>
    </div>
    </main>
    {% for r in users %}           
        {# Afficher les créneaux libres #}
        {{dump(r)}}
        <br>
    {% endfor %}
{% endblock %}



