{% extends 'base_template.html.twig' %}

{% block title %}Index -
	{{ constant('WEBSITE_TITLE')}}
{% endblock %}


{% block content %}
{# {{ dump(creneauxLibres) }} #}
    <main>
        
            {% for creneau in creneauxLibres %}           

                {# Afficher les créneaux libres #}
                <p> Créneau libre de {{creneau['debut']}} à {{creneau['fin']}}</p> 
                <br>

            {% endfor %}
    </main>
{% endblock %}



