{% extends 'base_template.html.twig' %}

{% block title %}Index - {{ constant('WEBSITE_TITLE')}} {% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="row justify-content-center w-100">
                <div class="col-12 text-center">
                    <h1 class="text-center py-5">Découvrir l'application</h1>
                    <p class="h4 text-center">Vidéo de présentation de l'application</p>
                    <div class="d-flex justify-content-center pt-5">
                        <iframe 
                            width="1080"
                            height="720"
                            src="https://www.youtube.com/embed/PmNWmJkc58A" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}