{% extends 'base_template.html.twig' %}

{% block title %}Index -
	{{ constant('WEBSITE_TITLE')}}
{% endblock %}

{% block content %}
	<main>
		<h1 class="text-primary text-center py-5">Découvrir l'application</h1>
		
		Video de présentation de l'application
		
		</div>
	</main>

{% endblock %}