{% extends 'base_template.html.twig' %}
    
    {% block title %}Index - {{ constant('WEBSITE_TITLE')}}{% endblock %}
    
    {% block content %}
    <main>
        <h1 class="mycolor">Bienvenue</h1>

        

    </main>
    
{% endblock %}

