{% extends 'base_template.html.twig' %}

{% block title %}Inscription -
	{{ constant('WEBSITE_TITLE')}}
{% endblock %}


{% block content %}
{# {{ dump(creneauxLibres) }} #}
    <main class="min-vh-100">
    <div class="container mb-5 pb-4">
            <div class="row justify-content-center">
                <div class="col-md-4 mt-5"> <!-- Ajout de la marge en haut -->
                    <form action="index.php?controleur=utilisateur&methode=inscription" method="post" required>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nom</label>
                            <input type="text" name="nom" class="form-control" aria-describedby="emailHelp" required maxlength="50" title="Entrez votre vrai nom pour votre compte">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Prenom</label>
                            <input type="text" name="prenom" class="form-control" aria-describedby="emailHelp" required maxlength="50" title="Entrez votre vrai prénom pour votre compte">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">E-mail</label>
                            <input type="email" name="email" class="form-control" aria-describedby="emailHelp" required title="Entrez l'adresse email qui sera liée au compte">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                            <input type="password" name="pwd" class="form-control" required title="Entrez le mot de passe permettant d'accéder au compte">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Confirmer mot de passe</label>
                            <input type="password" name="pwdConfirme" class="form-control" id="exampleInputPassword1" required title="Entrez une nouvelle fois le même mot de passe">
                        </div>
                        <a class="mb-3" href="index.php?controleur=utilisateur&methode=premiereConnexion">Deja un compte ? Se connecter</a>
                        <button type="submit" class="btn btn-primary">S'inscrire</button>
                    </form>
                </div>
                {% if message %}
                <div class="mt-5">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}



