{% extends 'base_template.html.twig' %}

{% block title %}Inscription -
	{{ constant('WEBSITE_TITLE')}}
{% endblock %}


{% block content %}
{# {{ dump(creneauxLibres) }} #}
    <main class="">
    <div class="container mb-5 pb-4">
        <div class="row justify-content-center" >
            <div class="col-md-4 mt-5" style="width: 35vw;">
                <div class="card_custom h-70vh shadow-lg" style="transform:translatey(6%);width: 35vw;">
                    <div class="card_custom-body ">
                        <h4 class="card_custom-title text-center mb-4">Inscription</h4>
                        <form action="index.php?controleur=utilisateur&methode=inscription" method="post" required>
                            <div class="mb-3">
                                <label for="nom" class="form-label">Nom</label>
                                <input type="text" name="nom" class="form-control" id="nom" required>
                            </div>
                            <div class="mb-3">
                                <label for="prenom" class="form-label">Prénom</label>
                                <input type="text" name="prenom" class="form-control" id="prenom" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">E-mail</label>
                                <input type="email" name="email" class="form-control" id="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="pwd" class="form-label">Mot de passe</label>
                                <input type="password" name="pwd" class="form-control" id="pwd" required>
                            </div>
                            <div class="mb-3">
                                <label for="pwdConfirme" class="form-label">Confirmer le mot de passe</label>
                                <input type="password" name="pwdConfirme" class="form-control" id="pwdConfirme" required>
                            </div>
                            <a class="mb-3 d-block text-center" href="index.php?controleur=utilisateur&methode=premiereConnexion">Déjà un compte ? Se connecter</a>
                            <button type="submit" class="btn btn-primary w-100">S'inscrire</button>
                        </form>
                    </div>
                </div>
            </div>
            {% if message %}
            <div class="mt-5 text-center">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}



