{% extends 'base_template.html.twig' %}

{% block title %}Inscription -
	{{ constant('WEBSITE_TITLE')}}
{% endblock %}


{% block content %}
{# {{ dump(creneauxLibres) }} #}
    <main>
        
            <h1>Inscription</h1>
    </main>
{% endblock %}



