{% extends 'base_template.html.twig' %}

{% block title %}Menu -
	{{ constant('WEBSITE_TITLE')}}
{% endblock %}

{% block content %}
	<main>
		<h1 class="text-secondary">Bienvenue</h1>

		<div class="row">
			<div class="card text-center md-5 col" >
				<a href="index.php?controleur=creneauLibre&methode=obtenir" class="btn btn-primary" style="width: 1fr; height: 1fr;">
					<h5 class="card-title">Trouver un créneau</h5>
				</a>
			</div>
			<div class="card text-center md-5 col" >
				<a href="#" class="btn btn-primary" style="width: 1fr; height: 1fr;">
					<h5 class="card-title">Gérer mes groupes</h5>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="card text-center mt-5 mb-5 col" style="width: 18rem;">
				<a href="#" class="btn btn-primary">
					<h5 class="card-title">Mes contacts</h5>
				</a>
			</div>
			<div class="card text-center mt-5 mb-5 col" style="width: 18rem;">
				<a href="#" class="btn btn-primary">
					<h5 class="card-title">Mes agendas</h5>
				</a>
			</div>
		</div>
	</main>

{% endblock %}
