{% extends 'base_template.html.twig' %}

{% block title %}Menu -
	{{ constant('WEBSITE_TITLE')}}
{% endblock %}

{% block content %}
<main>
	<div class="container-fluid">
		<h1 class="text-primary text-center py-5">Bienvenue</h1>
        <div class="row justify-content-center container mw-100">
            <div class="card text-center m-3 col-5 p-4 shadow border-0 " style="height: 250px;">
                <a href="index.php?controleur=assistant&methode=genererVueRecherche" class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-center">
                    <h5 class="card-title"><i class="fa-solid fa-magnifying-glass"></i> Trouver un créneau</h5>
                </a>
            </div>
            <div class="card text-center m-3 col-5 p-4 shadow border-0" style="height: 250px;">
                <a href="index.php?controleur=groupes&methode=lister" class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-center">
                    <h5 class="card-title"><i class="fa-solid fa-users"></i> Gérer mes groupes</h5>
                </a>
            </div>
        </div>
        <div class="row justify-content-center container mw-100">
            <div class="card text-center m-3 col-5 p-4 shadow border-0" style="height: 250px;">
                <a href="index.php?controleur=contacts&methode=lister" class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-center">
                    <h5 class="card-title"><i class="fa-regular fa-comments"></i> Mes contacts</h5>
                </a>
            </div>
            <div class="card text-center m-3 col-5 p-4 shadow border-0" style="height: 250px;">
                <a href="index.php?controleur=agenda&methode=lister" class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-center">
                    <h5 class="card-title"><i class="fa-solid fa-calendar-days"></i> Mes agendas</h5>
                </a>
            </div>
        </div>
        {% if message %}
        <div class="row justify-content-center align-items-center">
            <div class="alert alert-success alert-dismissible fade show mt-4 w-50" role="alert">
                {% for messages in message %}
                    {{messages}}
                    <br>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% endif %}
	</div>
	</main>

{% endblock %}
