{% extends 'base_template.html.twig' %}

{% block title %}Notifications - {{ constant('WEBSITE_TITLE')}} {% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <p>Page de notifications</p>
    </div>
</main>
{% endblock %}